<nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
  <a href="#" class="navbar-brand font-weight-bold d-block d-lg-none"
    >MegaMenu</a
  >
  <button
    type="button"
    data-toggle="collapse"
    data-target="#navbarContent"
    aria-controls="navbars"
    aria-expanded="false"
    aria-label="Toggle navigation"
    class="navbar-toggler"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarContent" class="collapse navbar-collapse">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a href="" class="nav-link font-weight-bold text-uppercase"
          >Make up day</a
        >
      </li>
    </ul>
  </div>
</nav>
<body>
  <section class="py-5 text-white">
    <div class="container py-4">
      <p align="center">
        Vamos para mais uma diquinha. A adica de hoje é para te ajudar a fazer
        aquela make babado!
      </p>
      <h2 align="center" style="color:#822159">1.passo</h2>
      <p align="center">
        Lave bem seu rosto, com produtos limpantes e depois o hidrate com
        produtos de acordo com o seu tipo de pele.
      </p>
      <br />

      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRMj1cyUihvM_xB2YIrPZDRR3xw1TVTqGZWzw&usqp=CAU.jpg"
      />

      <br />
      <h4 style="color:white">Acesse:</h4>
      <ul class="ulO">
        <li class="liO;" align="center">
          <a href="https://designofc.stackblitz.io/pagina2"
            ><button type="button" class="btn btn-warning">
              Como lavar e hidratar bem a pele
            </button></a
          >
        </li>
      </ul>
      <br />
      <h2 align="center" style="color:#822159">2.passo</h2>
      <p align="center">
        Agora é a hora do reboco!!! Você pode optar pela esponjinha ou o pincel
        kabuki, escova ou língua de gato.
      </p>

      <p align="center">
        Lembrando que se for com a esponjinha ela deve estar úmida.
      </p>

      <p align="center">
        Agora com o pincel chanfrado, preencha a sobrancelha com a cor de um tom
        mais claro da cor do seu cabelo.
      </p>

      <h4 style="color:white">Acesse:</h4>
      <ul class="ulO">
        <li class="liO;" align="center">
          <a href="https://designofc.stackblitz.io/pinceis"
            ><button type="button" class="btn btn-warning">
              Pinceis para maquiagem
            </button></a
          >
        </li>
      </ul>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSGnZPxdC3LhDV5Nw-MXa3Q4wAmtxLQMidmKg&usqp=CAU.jpg"
      />

      <br /><br />
      <h2 align="center" style="color:#822159">3.passo</h2>
      <p align="center">
        Feito isso é a hora do contorno, você pode também fazer com corretivo ou
        pó compacto de cor escura para o seu tom de pele. Com o pincel de sombra
        você pode contornar o seu rosto, nas extremidades do seu rosto opte por
        um tom mais escuro e no centro do rosto opte por tons mais claros. E
        para espalhar, com a esponjinha dá um acabamento dahora!
      </p>

      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSy1OB7ysyjJKuQNJS8HP3Q0q4Mcoz2_4rcKA&usqp=CAU.jpg"
      />
      <br />
      <p align="center">
        Com o contorno feito, passe o pó de banana ou translúcido onde você
        colocou a cor mais clara no contorno, aplique-o com a esponjinha e não
        retire ainda.
      </p>

      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRzfwK6rQUFwKYPYes9DAjXP7y9As-6DeGcDg&usqp=CAU.jpg"
      />

      <br />
      <h2 align="center" style="color:#822159">4.passo</h2>
      <br /><br />
      <p align="center">
        Vamos para os olhos enquanto o nosso queridinho pó de banana ou
        translúcido age. Para a sombra você pode escolher a cor que quiser, mas
        não passe apenas na pálpebra, esfume a sombra até o côncavo, utilize o
        pincel de sombra.
      </p>

      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR7vWopAFW6BaHb1VV9cLF1Q2wkK2FunjzxVz1t1dgr2c0cfqSmz2c7JfnUFHr7neYDnuWewB-KE08dPrpNxT8tUyjcxbrQh3CUZQ&usqp=CAU&ec=45704946.jpg"
      />

      <br />
      <h2 align="center" style="color:#822159">5.passo</h2>
      <p align="center">
        Não pode faltar o nosso queridinho delineador, que você pode passar ele
        em canetinha, em gel que pode utilizar o pincel chanfrado ou passar o
        delineador líquido.
      </p>

      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ4a4jeHGOpJZM2aeXVD8JXSEO4BIYpXDA1Aw&usqp=CAU.jpg"
      />

      <p align="center">
        Se desejar passar o lápis de olho na linha d'água, lembre-se que a cor
        preta fecha o olhar e o branco abre o olhar dando a impressão que ele é
        maior.
      </p>
      <br />
      <h2 align="center" style="color:#822159">6.passo</h2>
      <p align="center">Agora os cílios não podem faltar, não é mesmo???</p>
      <br />
      <p align="center">
        Com o curvex pressione os cílios por 30 segundos, fazendo isso passe o
        rímel em quantas camadas achar bom.
      </p>

      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQsov8KORTpgZe0c_uXFxcO3Ps7SiAo8-Hplw&usqp=CAU.jpg"
      />

      <br />
      <p align="center" style="color:white">
        Caso deseje colocar cílios postiços: Primeiro certifique-se que o cílio
        postiço é do tamanho dos seus cílios, caso não corte na medida que for.
        Depois com uma pinça apoie os cílios e passe a cola, espere 60 segundos
        e coloque nos seus cílios para evitar que ele "dance". Depois que secar
        passe uma camada de rímel para juntar os cílios postiços dos seus
        verdadeiros para parecer natural
      </p>
      <br />
      <h2 align="center" style="color:#822159">7.passo</h2>
      <p align="center">VOLTANDO PARA A FACE</p>
      <p align="center">
        Com os olhos prontos, retire o pó de banana ou translúcido com o pincel
        de pó e com ele o pó compaco
      </p>
      <p align="center">
        Você pode utilizar o mesmo pincel para passar o blush. Passe o blush da
        cor que desejar, que combina com os seus olhos, nas maçãs do rosto.
      </p>

      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTL3ZYhhlfvEK6t3IvbqwE4TOLA2N_SiUY02g&usqp=CAU.jpg"
      />

      <br />
      <h2 align="center" style="color:#822159">8.passo</h2>
      <p align="center">E agora para SHINE!!!</p>
      <p align="center">
        Com o pincel leque aplique o iluminador da cor que combine com seu tom
        de pele ou da make, aplique acima das maçãs do rosto, no queixo, centro
        da testa, abaixo do arco da sobrancelha, na ponta do nariz e no tronco
        do nariz , na extremidade do lábio superior e se desejar, no canto dos
        olhos.
      </p>

      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS_Dpq4hPpesJvSzi86IT6NqP5Gue5db-F2Dd8_C9owKiSoiJzj960KxOxBmzhC1HPhyDIbZiIPu0bnqpuSVhwV0CcLTooLcZ8EDA&usqp=CAU&ec=45704946.jpg"
      />

      <br />
      <h2 align="center" style="color:#822159">9.passo</h2>
      <p align="center">
        Se seus olhos estiverem marcados, passe um batom de cor clara, caso ele
        não esteja pesado você pode passar um batom mais marcante.
      </p>

      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR1HvMa8Cd6HwhkEoJi_Ns9AGYdfmf95R_nCg&usqp=CAU.jpg"
      />

      <br />

      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT9EiiFH5SrD5178zGVDVLFwtTc7oILFVOUwedktMJzgcxi6Vds0It0h6ySa4TR59UifIHzkfdVtSeyFXjHHkFLepFW8Oc3Fq80yA&usqp=CAU&ec=45704946.jpg"
      />

      <br />
      <h2 align="center" style="color:#822159">10.passo</h2>
      <p align="center">
        E para finalizar, aplique o fixador de make no rosto e espere secar
      </p>
      <br />

      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQtGWpIsrx0YHKvONR0s0Zs0Z2mCVj6jadYaA&usqp=CAU.jpg"
      />

      <br />
      <p align="center" style="color:white">
        E VOALÁ, MAKE COM CARA DE MULHERÃO DA POXA!
      </p>
      <br />
      <p align="center" style="color:white">
        Mas não esqueça, você também é um mulherão da poxa sem make ;)
      </p>

      <p align="center" style="color:white">
        Essa foi mais uma resenha recheada de dicas para vocês!!!! ATÉ A
        PRÓXIMA!!
      </p>
      <br />
      <br /><br />
      <ul class="ulO">
        <li class="liO;" align="center">
          <a href="https://designofc.stackblitz.io/pagina3"
            ><button type="button" class="btn btn-warning">
              Click aqui e confira dicas para arrasar na maquiagem no seu
              cotidiano!
            </button></a
          >
        </li>
      </ul>
      <br />
      <ul class="ulO">
        <li class="liO;" align="center">
          <a href="https://designofc.stackblitz.io/contorno"
            ><button type="button" class="btn btn-warning">
              Click aqui e confira dicas para arrasar no contorno!
            </button></a
          >
          <br />
          <br />
          <a href="https://designofc.stackblitz.io"
            ><button type="button" class="btn btn-warning">
              Click aqui para ir para a página home
            </button></a
          >
        </li>
      </ul>

      <div class="row pt-5">
        <div class="col-lg-10 mx-auto"></div>
      </div>
    </div>
  </section>
</body>
