<nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
  <a href="#" class="navbar-brand font-weight-bold d-block d-lg-none"
    >MegaMenu</a
  >
  <button
    type="button"
    data-toggle="collapse"
    data-target="#navbarContent"
    aria-controls="navbars"
    aria-expanded="false"
    aria-label="Toggle navigation"
    class="navbar-toggler"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarContent" class="collapse navbar-collapse">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a href="" class="nav-link font-weight-bold text-uppercase"
          >Make up day</a
        >
      </li>
    </ul>
  </div>
</nav>
<body>
  <section class="py-5 text-white">
    <div class="container py-4">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h1 class="display-4">História</h1>
        </div>
      </div>
      <br />
      <img
        src="https://static.portaleducacao.com.br/arquivos/imagens_artigos/150120131158465294360-483x724-%20mod.jpg"
      />
      <br />
      <p>
        No período paleolítico, o homem começa a se reunir em grupos, fixando-se
        na terra ficando mais sedentário e com isso surgem os primeiros sinais
        da vaidade no homem. Com as diferenças hierárquicas, dentro desses
        grupos, os Chefes enfeitavam-se com garras e dentes de animais ferozes.
        Já os feiticeiros e curandeiros adornavam o corpo com pinturas
        consideradas “mágicas”.
      </p>
      <br />
      <p>
        Com a evolução do homem surgem às primeiras pinturas de guerras, mais
        tarde surge na região da Mesopotâmia produtos de maquiagem a base de
        carvão para os olhos, henna e outros resíduos naturais. Já os Gregos
        tinham mais preocupações com a saúde e a beleza do corpo do que com a
        maquiagem propriamente dita. A maquiagem era usada sim, porém não como
        na Babilônia e no Egito.
      </p>
      <br />
      <p>
        No Egito a maquiagem tornou-se parte da higiene diária e toma função de
        requinte. Começa então a maquiagem como ritual de beleza. É no antigo
        Egito que vamos encontrar os primeiros testemunhos do uso de cosméticos.
      </p>
      <br />
      <p>
        As misturas de metais pesados davam o tom esverdeado para impregnar e
        proteger as pálpebras dos nobres. É também com a civilização egípcia que
        surge a distinção: "Mulher de pele clara" e "Homem de pele escura".
        Cleópatra bem representou o ideal de beleza daqueles tempos. Carismática
        e poderosa, ela imortalizou seu tratamento banhando-se em leite,
        cobrindo as faces com argila e maquilando seus olhos com pó de khol
        (ingrediente obtido inicialmente pelos árabes, de uma poeira preta que
        foi condensada e solidificada, dando origem ao produto que as mulheres
        usavam).
      </p>
      <br />
      <p>
        Passando para Roma, as mulheres usavam máscaras de farinha, miolo de pão
        e leite durante a noite sobre o rosto para melhorar a pele. Dizia-se que
        Popeia (segunda esposa do imperador romano Nero) tinha a pele muito
        branca graças ao resultado de constantes banhos em leite de jumenta. Ela
        lançou moda e todas as romanas mais nobres eram dadas às máscaras
        noturnas, em que ingredientes como farinha de favas e miolo de pão se
        combinavam ao leite de jumenta diluído para formar papas de beleza. Esta
        aparência translúcida foi imitada em misturas de giz, pasta de vinagre e
        claras de ovos durante muitas décadas.
      </p>
      <br />
      <p>
        Aproximadamente em 150 a. C. o físico Galeno criou o primeiro creme
        facial do mundo, adicionando água à cera de abelha e óleo de oliva. Mais
        tarde o óleo de amêndoas substituiu o azeite e a incorporação de bórax
        contribuiu para a formação da emulsão, minimizando o tempo de processo.
        Estava aí a primeira base para sustentar os pigmentos de dióxido de
        titânio e facilitar a aplicação na face; nascia a base cremosa facial.
      </p>
      <br />
      <p>
        Com os desenvolvimentos científicos, o ato de pintar os lábios tornou-se
        moda desde o século XVII, quando as pomadas coloridas tornaram-se mais
        acessíveis e seguras. Ainda no século XVI a preocupação com higiene
        pessoal foi deixada de lado, o que ironicamente contribuiu para o
        crescimento do uso da maquilagem e dos perfumes.
      </p>
      <br />
      <p>
        Durante os 100 anos seguintes Paris firmou-se como autoridade em moda,
        trazendo para o mundo da maquilagem um novo alento. Podemos dizer que a
        popularização da moda aconteceu em 1892, com o lançamento da revista
        Vogue, tendo em seus primeiros números personalidades como Gertrude
        Vanderbilt Whitney, vestindo suas próprias roupas. Quando Condé Nasta
        comprou a revista, em 1909, a publicação passa a ter um enfoque mais
        atraente, mostrando objetos do desejo para todas as mulheres.
      </p>
      <br />
      <p>
        Somente no século XX, com os avanços da indústria química fina, que os
        cosméticos se tornam produtos de uso geral. Em 1921, Paris é palco de
        uma verdadeira revolução na história do batom; é a primeira vez que um
        produto dessa categoria é embalado em um tubo e vendido em cartucho. O
        sucesso é tanto que em 1930 os estojos de batom dominam o mercado
        americano, trazendo uma nova fase para o desenvolvimento destas
        formulações.
      </p>
      <br />
      <p>
        Por volta da década de 20, os cinemas utilizam muito a maquiagem em suas
        produções, já que os recursos eram precários, sendo esta a principal
        forma de modificação da aparência dos personagens. A partir de então, a
        maquiagem passa a ser de uso geral.
      </p>
      <br />
      <p>
        Com a Segunda Guerra Mundial, as fábricas de cosméticos dão uma
        estacionada, assim como o mundo, pois toda a energia se concentrava para
        produção de armas, voltando-se então no século XVIII em que as mulheres
        mesmo preparavam seus produtos. Com o fim da guerra nos anos 50, a
        maquiagem volta com tudo, com o estilo fake – pele pálida, lábios
        realçados e olhar delineado. Os anos 60 são o auge por atingir por
        completo os jovens, fazendo com que a indústria se aprimorasse mais nas
        embalagens e estojos.
      </p>
      <br />
      <p>
        Na década de 70, as cores de maquilagem tornaram-se populares,
        acompanhando as coleções de alta-costura francesa, italiana e inglesa.
        Toda vez que um grande costureiro lançava uma nova coleção de cores e
        formas para as roupas, lá vinha um tom de sombra específico para os
        olhos, uma nova cor de boca. Dior, Chanel, Yves Saint Laurent e todos os
        grandes fabricantes ousavam e enchiam os olhos das mulheres de todo o
        mundo com suas criações cada vez mais tentadoras. Além disso, a década
        de 70 também foi marcada pela era Disco, trazendo a variedade, brilho e
        alegria nas cores.
      </p>
      <br />
      <p>
        E é no final da década de 80 que entram em lançamento as fórmulas
        evoluídas para cosméticos pigmentados. Na década de 90, com o novo
        milênio batendo na porta, finalmente entram em cena fórmulas baseadas em
        tecnologia de vanguarda, cujo uso garante propriedades bem interessantes
        para nossa beleza, como proteção solar, umectação e controle do
        envelhecimento cutâneo.
      </p>
      <br />
      <p>
        Hoje podemos contar com produtos que tratam e colorem nossa pele ao
        mesmo tempo, como nunca antes na história da humanidade.
      </p>
      <br />

      <a href="https://designofc.stackblitz.io"
        ><button type="button" class="btn btn-info">Voltar</button></a
      >

      <div class="row pt-5">
        <div class="col-lg-10 mx-auto"></div>
      </div>
    </div>
  </section>
</body>
