<nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
  <a href="#" class="navbar-brand font-weight-bold d-block d-lg-none"
    >MegaMenu</a
  >
  <button
    type="button"
    data-toggle="collapse"
    data-target="#navbarContent"
    aria-controls="navbars"
    aria-expanded="false"
    aria-label="Toggle navigation"
    class="navbar-toggler"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarContent" class="collapse navbar-collapse">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a href="" class="nav-link font-weight-bold text-uppercase"
          >Make up day</a
        >
      </li>
    </ul>
  </div>
</nav>
<body>
  <section class="py-5 text-white">
    <div class="container py-4">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h1 class="display-4">Sobre</h1>
        </div>
      </div>

      <p>
        Dizer que todo mundo fica perfeita de maquiagem é Fake news! Para fazer
        aquela make de mulherão da poxa é necessário conhecer as técnicas, mas
        não se preocupem, o Peles, cores e pincéis vai te ajudar a fazer aquela
        make de invejar!! Neste site iremos mostrar os resultados das diferentes
        técnicas que usamos no nosso espaço físico. Esperamos que vocês fiquem
        satisfeitos com o nosso conteúdo!!!
      </p>
      <br />
      <h2 style="color:#9c024f">Contatos</h2>
      <br />
      <p style="color:black;">
        Brenda Duque:
        <a style="color:#450223;" href="mailto:bbd@discente.ifpe.edu.br">
          bbd@discente.ifpe.edu.br</a
        >
      </p>
      <p style="color:black;">
        Isaac Willian:
        <a style="color:#450223;" href="mailto:iwss@discente.ifpe.edu.br">
          iwss@discente.ifpe.edu.br</a
        >
      </p>
      <p style="color:black;">
        Maria Janaina:
        <a style="color:#450223;" href="mailto:mjs3@discente.ifpe.edu.br">
          mjs3@discente.ifpe.edu.br</a
        >
      </p>

      <a href="https://designofc.stackblitz.io/maquiagem"
        ><button type="button" class="btn btn-primary">Dicas</button></a
      >
      <a href="https://designofc.stackblitz.io/pagina3"
        ><button type="button" class="btn btn-secondary">Bases</button></a
      >
      <a href="https://designofc.stackblitz.io/pinceis"
        ><button type="button" class="btn btn-success">Pinceis</button></a
      >
      <a href="https://designofc.stackblitz.io/contorno"
        ><button type="button" class="btn btn-danger">Contorno</button></a
      >
      <a href="https://designofc.stackblitz.io/pagina2"
        ><button type="button" class="btn btn-info">Limpeza facial</button></a
      >
      <a href="https://designofc.stackblitz.io/feedback"
        ><button type="button" class="btn btn-warning">
          Envie-nos uma mensagem
        </button></a
      >
      <a href="https://designofc.stackblitz.io/pagina6"
        ><button type="button" class="btn btn-info">História</button></a
      >

      <div class="row pt-5">
        <div class="col-lg-10 mx-auto"></div>
      </div>
    </div>
  </section>
</body>
