<nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
  <a href="#" class="navbar-brand font-weight-bold d-block d-lg-none"
    >MegaMenu</a
  >

  <div id="navbarContent" class="collapse navbar-collapse">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a href="" class="nav-link font-weight-bold text-uppercase"
          >Make up day</a
        >
      </li>
    </ul>
  </div>
</nav>
<body>
  <section class="py-5 text-white">
    <div class="container py-4">
      <p align="center">
        Antes de fazer a make é necessário deixar o rosto bem limpinho e
        hidratado! Confira o passo a passo e algumas dicas-chave para arrasar na
        sua limpeza e hidratação facial.
      </p>

      <h2 style="color:dark">Limpeza e hidratação da pele</h2>
      <p>
        Lave seu rosto com água morna e um sabonete facial apropriado para o seu
        rosto (dica: sabonete líquido para bebê faz maravilha!!!), após lavar
        com o sabonete facial passe o tônico no rosto e depois um hidratante
        facial para o seu tipo de rosto (oleoso, misto, seco).
      </p>
      <img
        src="https://cdn.notinoimg.com/images/gallery/clanky/714_350_09_02.jpg"
        align="middle"
      />
      <br />
      <br />
      <p>
        Após lavar com o sabonete facial, passe o tônico no rosto, e depois um
        hidratante facial para o seu tipo de rosto (oleoso, misto, seco).
        Lembrando que, para ter um rosto hidratado apenas fazer uso do
        hidratante facial não irá resolver seu problema 100%, é necessário
        também beber muita água!!! Depois que estiver com o rosto limpo e
        hidratado, é a hora so SERUM.
      </p>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQHm3djJyePd0kPloJUWVlF3ub7NkCsli1Fuw&usqp=CAU"
        width="400"
        height="400"
        align="middle"
      />
      <br />
      <br />
      <p>
        A aplicação dele é bem fácil e o rosto absorve bem rápido. EU prefiro
        usá-lo como um hidratante antes da maquiagem, do que só como um primer.
      </p>
      <br />
      <h2 align="center">Benefícios do sérum</h2>
      <h4>1- Possui um alto poder hidratante sem deixar a pele oleosa.</h4>
      <h4>
        2- Tem em sua composição pró vitamina B5, colágeno hidrolisado e
        vitamina E.
      </h4>
      <h4>
        3- Prespara a pele para a maquiagem, deixando a pele aveludada e macia.
      </h4>
      <br />
      <a href="https://designofc.stackblitz.io/pagina3"
        ><button type="button" class="btn btn-warning">
          Click aqui e confira dicas para arrasar na maquiagem no seu cotidiano!
        </button></a
      >
      <div class="row pt-5">
        <div class="col-lg-10 mx-auto"></div>
      </div>
    </div>
  </section>
</body>
